docs/Sample.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="CustomTypes">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="ValidTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bool"/>
            <xs:enumeration value="char"/>
            <xs:enumeration value="int8"/>
            <xs:enumeration value="uint8"/>
            <xs:enumeration value="int16"/>
            <xs:enumeration value="uint16"/>
            <xs:enumeration value="int32"/>
            <xs:enumeration value="uint32"/>
            <xs:enumeration value="int64"/>
            <xs:enumeration value="unt64"/>
            <xs:enumeration value="type_id"/>
            <xs:enumeration value="float32"/>
            <xs:enumeration value="float64"/>
            <xs:enumeration value="String"/>
            <xs:enumeration value="BinaryBuffer"/>
            <xs:enumeration value="DateTime"/>
            <xs:enumeration value="SomeStruct"/>
            <xs:enumeration value="SomeEnum"/>
            <xs:enumeration value="SomeArray"/>
            <xs:enumeration value="NEMemory::uAlign"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ValidNames">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z][A-Za-z_0-9]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ValidObjects">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Enumerate"/>
            <xs:enumeration value="Structure"/>
            <xs:enumeration value="Imported"/>
            <xs:enumeration value="DefinedType"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="ServiceInterface">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Overview">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Description" type="xs:string" />
                            <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="ID" type="xs:integer"  use="required" />
                        <xs:attribute name="Name" type="ValidNames" use="required"/>
                        <xs:attribute name="Version" type="xs:string" use="required" />
                        <xs:attribute name="isRemote" type="xs:boolean" use="required" />
                        <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="DataTypeList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="DataType">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" name="Description" type="xs:string" />
                                        <xs:element minOccurs="0" name="Container" default="Array">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Array"/>
                                                    <xs:enumeration value="LinkedList"/>
                                                    <xs:enumeration value="HashMap"/>
                                                    <xs:enumeration value="Pair"/>
                                                    <xs:enumeration value="CustomContainer"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="BaseTypeValue" type="ValidTypes" />
                                        <xs:element minOccurs="0" name="BaseTypeKey" type="ValidTypes" />
                                        <xs:element minOccurs="0" name="Namespace" type="ValidNames" />
                                        <xs:element minOccurs="0" name="Location" type="xs:string" />
                                        <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                                        <xs:element minOccurs="0" name="FieldList" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="EnumEntry">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Value" type="xs:string"/>
                                                                <xs:element name="DeprecateHint" type="xs:string" minOccurs="0" />
                                                            </xs:sequence>
                                                            <xs:attribute name="ID" type="xs:integer" use="required" />
                                                            <xs:attribute name="Name" type="ValidNames" use="required" />
                                                            <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Field">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Value">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="IsDefault" type="xs:boolean" use="optional" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="Description" type="xs:string" />
                                                                <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                                                            </xs:sequence>
                                                            <xs:attribute name="DataType" type="ValidTypes" use="required" />
                                                            <xs:attribute name="ID" type="xs:integer" use="required" />
                                                            <xs:attribute name="Name" type="ValidNames" use="required" />
                                                            <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ID" type="xs:integer" use="required" />
                                    <xs:attribute name="Name" type="ValidNames" use="required" />
                                    <xs:attribute name="Type" type="ValidObjects" use="required" />
                                    <xs:attribute name="Values" type="xs:string" use="optional" />
                                    <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AttributeList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Attribute">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Description" type="xs:string" />
                                        <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="DataType" type="ValidTypes" use="required" />
                                    <xs:attribute name="ID" type="xs:integer" use="required" />
                                    <xs:attribute name="Name" type="ValidNames" use="required" />
                                    <xs:attribute name="Notify" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="Always|OnChange"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MethodList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Method">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Description" type="xs:string" />
                                        <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                                        <xs:element minOccurs="0" name="ParamList">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="Parameter">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element minOccurs="0" name="Value">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="IsDefault" type="xs:boolean" use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="Description" type="xs:string" />
                                                                <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                                                            </xs:sequence>
                                                            <xs:attribute name="DataType" type="ValidTypes" use="required" />
                                                            <xs:attribute name="ID" type="xs:integer" use="required" />
                                                            <xs:attribute name="Name" type="ValidNames" use="required" />
                                                            <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ID" type="xs:integer" use="required" />
                                    <xs:attribute name="MethodType" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="Request|Response|Broadcast"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="Name" type="ValidNames" use="required" />
                                    <xs:attribute name="Response" type="xs:string" use="optional" />
                                    <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ConstantList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Constant">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Value" type="xs:string" />
                                        <xs:element name="Description" type="xs:string" />
                                        <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="DataType" type="ValidTypes" use="required" />
                                    <xs:attribute name="ID" type="xs:integer" use="required" />
                                    <xs:attribute name="Name" type="ValidNames" use="required" />
                                    <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="IncludeList">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="Location">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Description" type="xs:string" />
                                        <xs:element minOccurs="0" name="DeprecateHint" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="ID" type="xs:integer" use="required" />
                                    <xs:attribute name="Name" type="xs:string" use="required" />
                                    <xs:attribute name="IsDeprecated" type="xs:boolean" use="optional" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="FormatVersion" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
